<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="ball-container">
            <div id="myBall">
                <div class="smallBall one" id="oneBall"></div>
                <div class="smallBall two"></div>
                <div class="smallBall three"></div>
                <div class="smallBall four"></div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
    // $('#oneBall').bind('webkitAnimationEnd', function() {
    //     $('#musicBox').css('opacity', 1).toggleClass('play');
    //     bgMusic.src = 'http://music.163.com/song/media/outer/url?id=472137696.mp3';
    //     setTimeout(() => {
    //         $('#bgCanvas').css('opacity', 1);
    //     }, 300);
    // });
    </script>
</html>
