<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ezio</title>
    <meta charset="utf-8">
</head>

<body>
    <article class="content" id="fullpage">
        <section class="section">
            <div class="ball-container">
                <div id="myBall">
                    <div class="smallBall one"></div>
                    <div class="smallBall two"></div>
                    <div class="smallBall three"></div>
                    <div class="smallBall four"></div>
                </div>
            </div>
            <div class="profilePhoto" id="profilePhoto"></div>
            <div id="profileInfo">
                <span class="profileName">用最优雅的方式描绘每一个像素</span>
                <span class="splitLine">
                                    <span></span><span></span><span></span>
                </span>
                <span class="profileName">我叫王哲威</span>
                <span class="profileName">一名前端开发工程师</span>
            </div>
        </section>
        <section class="section">

        </section>

        <section class="section">

        </section>
    </article>

</body>
<script>
</script>

</html>