@import "./scss/firstScreen.scss";
@import "./scss/animation.scss";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 11px;
  background-color: rgb(38, 36, 49);
}

div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fp-nav {
  >ul>li>a {
    >span {
      background: #fff;
      opacity: 0.5;
    }

    &.active>span {
      background: #fff;
      opacity: 1;
    }
  }
}