@keyframes photoIn {
    60% {
        transform: translate(-50%, -50%) scale(1.4);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes splitLineIn {
    to {
        transform: scaleX(1);
    }
}

@keyframes popIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shinnig {
    from {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0px 0px 17px #CA6040;
    }
    45% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0px 0px 48px #CA6040;
    }
    60% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0px 0px 48px #CA6040;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0px 0px 17px #CA6040;
    }
}

@keyframes pointGrowUp {
    40% {
        transform: scaleY(110);
    }
    99% {
        box-shadow: 0px 0px 0px;
        transform: scale(210, 110);
        background-color: rgb(38, 36, 49);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes pointBackOne {
    from {
        opacity: 1;
        transform: scale(160, 110);
        background-color: rgb(38, 36, 49);
    }
    40% {
        opacity: 0.6;
        transform: scaleY(110);
        background-color: #CA6040;
    }
}

@keyframes rotateAngle {
    10.7% {
        transform: rotate(60deg);
    }
    16.7% {
        transform: rotate(60deg);
    }
    27.3% {
        transform: rotate(120deg);
    }
    33.3% {
        transform: rotate(120deg);
    }
    44% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60.7% {
        transform: rotate(240deg);
    }
    66.7% {
        transform: rotate(240deg);
    }
    77.3% {
        transform: rotate(300deg);
    }
    83.3% {
        transform: rotate(300deg);
    }
    96% {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateAngle-3 {
    21.4% {
        transform: rotate(120deg);
    }
    33.4% {
        transform: rotate(120deg);
    }
    54.6% {
        transform: rotate(240deg);
    }
    66.6% {
        transform: rotate(240deg);
    }
    88% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scaleAngle {
    28.1% {
        transform: scale(0.125);
    }
    50% {
        transform: scale(0.125);
    }
    76.1% {
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scaleAngle-2 {
    32.1% {
        transform: scale(0.25);
        border-top-color: #6b6a72;
    }
    50% {
        transform: scale(0.25);
        border-top-color: #6b6a72;
    }
    82.1% {
        transform: scale(1);
        border-top-color: #272633;
    }
    to {
        transform: scale(1);
        border-top-color: #272633;
    }
}

@keyframes scaleAngle-3 {
    32.1% {
        transform: scale(0.5);
        border-top-color: rgb(185, 185, 188);
    }
    50% {
        transform: scale(0.5);
        border-top-color: rgb(185, 185, 188);
    }
    82.1% {
        transform: scale(1);
        border-top-color: #272633;
    }
    to {
        transform: scale(1);
        border-top-color: #272633;
    }
}

@keyframes changeColor {
    35.8% {
        border-bottom-color: rgb(107, 106, 114);
    }
    50% {
        border-bottom-color: rgb(107, 106, 114);
    }
    65.8% {
        border-bottom-color: #272633;
    }
    to {
        border-bottom-color: #272633;
    }
}

@keyframes pointGoThird {}

@keyframes rotateIfte {
    to {
        transform: rotate(360deg);
    }
}
